{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{% block description %}{% endblock description %}" />

    <!-- geolocalización-->
    <meta name="geo.region" content="ES-MA" />
    <meta name="geo.placename" content="Alora, Málaga, España" />
    <meta name="geo.position" content="36.8235141;-4.7059586999999965" />

    <title>{% block title %}{% endblock title %}</title>

    <!-- Metadatos para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.actiox.es{% block twitterimage %}{% endblock twitterimage %}" />
    <meta name="twitter:site" content="@actiox" />
    <meta name="twitter:title" content="{% block twittertitle %}{% endblock twittertitle %}" />
    <meta name="twitter:description" content="{% block twitterdescription %}{% endblock twitterdescription %}" />

    <!-- Favicon -->
    <link rel="icon" href="{% static 'core/img/Biotrap-logo.svg' %}" />

    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    {% block tipografias %}{% endblock tipografias %}

    <!-- Preloads -->
    <link rel="preload" as="style" href="{% static 'core/css/base.css' %}" />
    {% block preload %}{% endblock preload %}

    <!-- Estilos css -->
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />
    {% block css %}{% endblock css %}

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  </head>

  <body>
    <!-- Back to Top -->
    <a id="back2Top" title="Ir Arriba" href="#">&#10148;</a>

    <!-- Iconos menú SVG -->
    <svg class="hidden">
      <symbol id="icon-menu" viewBox="0 0 119 25">
        <title>menu</title>
        <path d="M36,8 L36,0 L100,0 L100,8 L36,8 Z M0,8 L0,0 L24,0 L24,8 L0,8 Z M0,28 L0,20 L71,20 L71,28 L0,28 Z" />
      </symbol>

      <symbol id="icon-close" viewBox="0 0 24 24">
        <title>close</title>
        <path
          d="M24 1.485L22.515 0 12 10.515 1.485 0 0 1.485 10.515 12 0 22.515 1.485 24 12 13.484 22.515 24 24 22.515 13.484 12z"
        />
      </symbol>
    </svg>

    <header>
      <!-- Top Header nav menu -->
      <div class="top-header">
        <ul>
          <li><i class="fas fa-phone-volume"></i><span>952 54 90 11</span></li>
          <li><i class="fas fa-map-marker-alt"></i><span>C/ Velázquez 18, Vélez-Málaga, Málaga</span></li>
          <li><span>@ calidad@biotrap.es</span></li>
          {% if LINK_FACEBOOK %}
          <li>
            <a href="{{ LINK_FACEBOOK }}"><i class="fab fa-facebook-f"></i></a>
          </li>{% endif %}
          {% if LINK_INSTAGRAM %}
          <li>
            <a href="{{ LINK_INSTAGRAM }}"><i class="fab fa-instagram"></i></a>
          </li>{% endif %}
          {% if LINK_TWITTER %}
          <li>
            <a href="{{ LINK_TWITTER }}"><i class="fab fa-twitter"></i></a>
          </li>{% endif %}
        </ul>

        <!-- Menú navegación -->
        <div class="burguer">
          <nav class="menu">
            <div class="menu__item menu__item--1" data-direction="bt">
              <div class="menu__item-inner">
                <div class="mainmenu">
                  <a href="{% url 'home' %}" class="mainmenu__item">Inicio</a>
                  <a href="{% url 'certificate' %}" class="mainmenu__item">Certificados</a>
                  <a href="{% url 'about' %}" class="mainmenu__item">La Empresa</a>
                  <a href="{% url 'flavors' %}" class="mainmenu__item">Sabores</a>
                  <a href="{% url 'contact' %}" class="mainmenu__item">Contacto</a>
                </div>
                <p class="label label--topleft label--vert-mirror">menú principal</p>
                <p class="label label--bottomright label--vert">helados ecológicos y veganos</p>
              </div>
            </div>

            <div class="menu__item menu__item--2" data-direction="lr">
              <div class="menu__item-inner">
                <div class="menu__item-map"></div>
                <a href="#" class="menu__item-hoverlink"></a>
              </div>
            </div>

            <div class="menu__item menu__item--3" data-direction="bt">
              <div class="menu__item-inner">
                <div class="sidemenu">
                  <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">Instagram</span></a>
                  <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">Pinterest</span></a>
                  <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">Facebook</span></a>
                  <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">YouTube</span></a>
                  <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">Twitter</span></a>
                  <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">...</span></a>
                </div>
              </div>
            </div>

            <div class="menu__item menu__item--4" data-direction="rl">
              <div class="menu__item-inner">
                <p class="label label--topleft label--line">Helados y sorbetes</p>
                <a href="{% url 'flavors' %}" class="menu__item-link">Descubre <br />nuestros sabores</a>
              </div>
            </div>

            <div class="menu__item menu__item--5" data-direction="tb">
              <div class="menu__item-inner">
                <p class="quote">Helados sin lactosa, sin gluten y veganos</p>
              </div>
            </div>

            <button class="action action--menu">
              <svg class="icon icon--menu">
                <use xlink:href="#icon-menu"></use>
              </svg>
            </button>

            <button class="action action--close">
              <svg class="icon icon--close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
          </nav>
        </div>
      </div>
    </header>

    {% block content %}{% endblock content %}
    {% block main %}{% endblock main %}

    <!-- Footer -->
    <footer>
      <div class="wrapper-footer">
        <div class="footer-grid">
          <!-- logotipo tipo texto -->
          <div class="item-footer logo-footer text-logo"></div>
          <!-- datos de contacto -->
          <div class="item-footer contact">
            <ul>
              <li>
                <header>
                  <h1 class="biotrap-font"><span class="green-gradient-text">Contacto</span></h1>
                </header>
              </li>
              <li>C/ Velázquez, 18</li>
              <li>952 54 90 11</li>
              <li>29500 Vélez-Málaga</li>
              <li>Málaga</li>
              <li><a href="{% url 'contact' %}">Contactar</a></li>
            </ul>
          </div>
          <!-- Páginas o links -->
          <div class="item-footer links">
            <ul>
              <li>
                <header>
                  <h1 class="biotrap-font"><span class="green-gradient-text">Links</span></h1>
                </header>
              </li>
              {% load pages_extras %}
              {% get_page_list as page_list %}

              {% for page in page_list %}
              <li><a  href="{% url 'pagina:page' page.id page.title|slugify %}">{{ page.title }}</a></li>
              {% endfor %}
              <!--
              <li><a href="#">Aviso legal</a></li>
              <li><a href="#">Política de Cookies</a></li>
              <li><a href="#">Política de Privacidad</a></li>-->
            </ul>
          </div>
          <!-- redes sociales -->
          <div class="item-footer network">
            <ul>
              <li>
                <header>
                  <h1 class="biotrap-font"><span class="green-gradient-text">Redes Sociales</span></h1>
                </header>
              </li>

              {% if LINK_FACEBOOK %}
              <li>
                <a href="{{ LINK_FACEBOOK }}"><i class="fab fa-facebook-f"></i></a>
              </li>{% endif %}
              {% if LINK_INSTAGRAM %}
              <li>
                <a href="{{ LINK_INSTAGRAM }}"><i class="fab fa-instagram"></i></a>
              </li>{% endif %}
              {% if LINK_TWITTER %}
              <li>
                <a href="{{ LINK_TWITTER }}"><i class="fab fa-twitter"></i></a>
              </li>{% endif %}

              <!--
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>-->
            </ul>
          </div>
        </div>
      </div>
      <!-- empresa creadora de la web -->
      <div class="footer-bottom">
        <header>
          <h4>Diseño y desarrollo <a href="#">mbSocialWeb</a></h4>
        </header>
      </div>
    </footer>

    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'core/js/TweenMax.min.js' %}"></script>

    <!-- ScrollMagic -->
    {% block scrollmagic %}{% endblock scrollmagic %}
    <script src="{% static 'core/js/animation.gsap.min.js' %}"></script>

    <!-- Navegación -->
    <script src="{% static 'core/js/nav.js' %}"></script>

    <!-- Back top and lightbox -->
    <script src="{% static 'core/js/base/backtop.js' %}"></script>
    <script src="{% static 'core/js/base/lightbox.js' %}"></script>

    <!-- Animación -->
    {% block animation %}{% endblock animation %}
  </body>
</html>
